mixin siteCheckForm(site = {})
  form(
    action=``
    method="POST"
    class="row align-center form-check-site"
    enctype="multipart/form-data"
  )
    fieldset(class="column")
      h3 Check if your website is infiltrated by Google
      .input-group
        span.input-group-label http://
        input(
          type="text"
          name="site"
          class="input-group-field"
          placeholder="www.my-site.de"
        )
        .input-group-button
          button(
            type="submit"
            id="hero-cta"
            class="button success"
          ) Check website
