mixin siteCheckForm(site = {})
  form(
    action=``
    method="POST"
    class="row align-center form-check-site"
    enctype="multipart/form-data"
  )
    fieldset(class="column")
      h3 #{i18n.__("form.siteCheck.title")}
      .input-group
        span.input-group-label #{i18n.__("form.siteCheck.label")}
        input(
          type="text"
          name="site"
          class="input-group-field"
          placeholder="www.my-site.de"
        )
        .input-group-button
          button(
            type="submit"
            id="hero-cta"
            class="button"
          ) Check website
