mixin siteCheckForm(site = {})
  form(
    onsubmit="checkSite(event)"
    action=""
    id="form-check-site"
    class="row align-center"
  )
    fieldset(class="column")
      h3 #{i18n.__("formSiteCheckTitle")}
      .input-group
        input(
          id="form-check-site-input"
          type="text"
          name="site"
          class="input-group-field"
          placeholder!=i18n.__('formSiteCheckPlaceholder')
          tabindex="1"
          autofocus
        )
        .input-group-button
          button(
            type="submit"
            id="form-check-site-btn"
            class="button"
          ) #{i18n.__("formSiteCheckButtonText")}
  .row.align-center
    .column
      #check-site-loader
        p Testing...
      #check-site-result
