mixin sitesSearchForm(sites = {})
  form(
    action=``
    method=""
    class="row align-center form-search-sites"
    novalidate
  )
    fieldset(class="column")
      .input-group
        input(
          type="text"
          name="sitesSearch"
          class="input-group-field"
          placeholder!=i18n.__('formSearchSitesPlaceholder')
        )
        .input-group-button
          button(
            type="submit"
            id="search-sites-btn"
            class="button"
          ) 
