section.component#component-map
  #map.map
  script.
    /**
    * Leaflet Map
    */
    // Create markers and geodata
    const mapCenter = [13.429, 52.494]; // Umspannwerk Kreuzberg
    const siteData = !{JSON.stringify(sites)};
    const features = siteData.map(site => {
        //- "properties": {
        //-   "title": site.name,
        //-   "description": `
        //-     <a href="${site.href}" title="${site.name}" target="_blank">
        //-       <h3>${site.name}</h3>
        //-     </a>
        //-     <p>${site.address || ''}</p>
        //-   `
        //- },
      return {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [ Number(site.longitude), Number(site.latitude) ]
        }
      }
    });

    const image = new ol.style.Icon({
      anchor: [0.5, 1],
      src: '/assets/img/fist-pin.png'
    });

    const styles = {
      "Point": new ol.style.Style({
        "image": image
      })
    }
    const styleFunction = function(feature) {
      return styles[feature.getGeometry().getType()];
    };

    const geojsonObject = {
      "type": "FeatureCollection",
      "features": features
    };

    const vectorSource = new ol.source.Vector({
      features: (new ol.format.GeoJSON()).readFeatures(geojsonObject, {
        featureProjection: "EPSG:3857"
      })
    });


    //- vectorSource.addFeature(new ol.Feature(new ol.style.Circle([5e6, 7e6], 1e6)));

    const vectorLayer = new ol.layer.Vector({
      source: vectorSource,
      style: styleFunction
    });

    const map = new ol.Map({
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        }),
        vectorLayer
      ],
      target: "map",
      view: new ol.View({
        center: ol.proj.fromLonLat(mapCenter),
        zoom: 17,
      })
    });

    /**
     * Hack to force rendering of map tiles
     */
    const waitForMap = setInterval(function() {
      if ($('.ol-viewport').length) {
          window.dispatchEvent(new Event('resize'));
          clearInterval(waitForMap);
      }
    }, 100);
