section.component#component-map
  #map.map
  script.
    /**
    * Leaflet Map
    */
    // Create markers and geodata
    const mapCenter = [13.429, 52.494]; // Umspannwerk Kreuzberg
    const siteData = !{JSON.stringify(sites)};
    const features = siteData.map(site => {
      return {
        "type": "Feature",
        "properties": {
          "title": site.name,
          "description": `
            <a href="${site.href}" title="${site.name}" target="_blank">
              <h3>${site.name}</h3>
            </a>
            <p>${site.address || ''}</p>
          `
        },
        "geometry": {
          "type": "Point",
          "coordinates": [ site.longitude, site.latitude]
        }
      }
    });
    const geojsonObject = {
      "type": "FeatureCollection",
      "features": features
    };
    const map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat(mapCenter),
        zoom: 17,
      })
    });
