block sites
  #sites
    .row.align-middle.site-titles
      .small-6.column.text-right
        h6 #{i18n.__("sitesListSitenameTitle")}
      .small-6.column
        h6 #{i18n.__("sitesListResultsTitle")}
    ul.row.align-center.align-middle.site-results-list#sites-results-list
      li.small-12.medium-8.large-12
        input(
          id="search-sites-input"
          type="text"
          placeholder!=i18n.__('formSearchSitesPlaceholder')
        )
      for site in sites
        - const result = results.find(r => r.id === site.lastResultId)
          if result
            li.small-12.medium-8.large-12.column.site-results-item(id= site.id)
              .row.align-middle
                .small-2.medium-1
                  img(
                    onclick="centerMapToPin(this)"
                    data-latitude= site.latitude
                    data-longitude= site.longitude
                    src="/assets/img/pin-on-map--primary.svg"
                    alt="pin on map"
                    class="icon-map")
                .small-10.medium-6.column.site-details
                  address
                    if (site.href)
                      strong
                        a(href=site.href target="_blank" class="site-details__link")= site.name
                    else
                      strong= site.name
                    if (site.address)
                      br
                      span.site-details__address= site.address
                  if (site.tags)
                    .row
                      .column
                        for tag in site.tags
                          span.tag= tag
                .small-12.medium-5.column
                  ul.site-googles
                    each val, index in result.googles
                      li.row.align-middle.alert
                        .small-8.large-9.column= index
                        .small-4.large-3.column.text-right= val
                    else
                      li.row
                        .column
                          b.success #{i18n.__("sitesListResultGoogleFree")}
